body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.container_pri{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.267);
    border: solid rgba(128, 128, 128, 0.267);
    border-radius: 10px;
    padding: 20px;
    height:250px ;
    width: 600px;
    margin: 0 auto;

}

.name_surname{
    display: flex;
    
}

.correo_message{
    display: flex;

}

.lbl_1{
    transform: translateX(50px);

}

.lbl_2{
   
}

.label_box{
    
    margin-right:0px;
    transform: translateY(100%);

}




